@inherits LayoutComponentBase

<div class="page">

    <main>
        <header>
            <div>
                <div class="jumbotron p-0">
                    <a href="/"><h1 class="p-4 ml-5">Synopsis - Blazor WebApp</h1></a>
                </div>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
