@page "/"
@inherits MovieListBase

@if (Movies == null)
{
    <h4>Loading ...</h4>
}

else
{
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>Movies:</h1>
            <ul>
                @foreach (var movie in Movies)
                {
                    <li class="list">
                        <a href="/MovieDetails/@movie.Id"><h4>@movie.Title - @movie.ReleaseYear </h4></a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-1"></div>
    </div>
}
